// Smartphones, iPhone, portrait 480x320 phones
@page-font : 'PT Sans', sans-serif;
@basic-color : #10274c;
@base-font : 27px;
@padding-phones : 90px;
@padding-menu : 30px;
@font-w : 700;

/*.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color : white;
	background-color : transparent;
}*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover  {
		color : white;
		background : transparent;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color : white;
	background : transparent;
}
.navbar-nav>li>a {
	line-height : 1em;
}
.navbar-default .navbar-nav>.active>a:hover {
	background-color : rgba(0,0,0,.2);
}

* {
	margin : 0;
	padding : 0;
}
.no-gutter {
	padding-left : 0;
	padding-right : 0;
}
html, body {
	font-family : @page-font;
	font-size : @base-font;
}


.navbar-brand {
	width: 100%;
    height: 90px;
	background : url(../../images/logos/logo-original.png) no-repeat;
	background-size : 72%;
	background-position : 110px 50%;
}
.navbar-default {
	background-color : @basic-color;
	opacity : 0.85;
	border-radius : 0;
	border : none;
	position : relative;
}

.phones-main {
		float : left;
		font-weight : bold;
		text-transform : uppercase;
		color : #fff;
		padding-top : @padding-menu * 0.4;
		padding-left : @padding-phones;
		a {
			display : block;
			color : #fff;
			
			&:hover {
				text-decoration : none;
			}
			
			&:focus {
				text-decoration : none;
			}
		}
		
}

.menu.nav{
	font-family : @page-font;
	font-size : @base-font;
	margin-left : 2 * @padding-menu;
	float : left;
	
	&:nth-child(1) {
		margin-left : @padding-menu * 0.75;
				
		a {
			padding-left : @padding-menu / 4;
		}
	}
	
	li {
		display : inline-block;
		font-weight : bold;
		text-transform : uppercase;
		
		a {
			padding-top : @padding-menu;
			padding-bottom : @padding-menu;
			padding-left : @padding-menu;
			padding-right : @padding-menu;
			color : white;
		
			&:hover {
				background-color : rgba(0,0,0,.2);
			}
		}
	}
}


// media query font different resolutions 
@media (max-width: 1919px) {
		@base-font : 24px;
		@padding-menu : 20px;
		@padding-phones : 60px;
		
.navbar-brand {
	background : url(../../images/logos/logo-original.png) no-repeat;
	background-size : 60%;
	background-position : 110px 50%;
}
.navbar-default {
	background-color : @basic-color;
	opacity : 0.85;
	border-radius : 0;
	border : none;
	position : relative;
}

.phones-main {
		float : left;
		font-size : @base-font;
		font-weight : bold;
		text-transform : uppercase;
		color : #fff;
		padding-top : @padding-menu * 0.4;
		padding-left : @padding-phones;
		
}

.menu.nav{
	font-family : @page-font;
	font-size : @base-font;
	margin-left : 2 * @padding-menu;
	float : left;
	
	&:nth-child(1) {
		margin-left : @padding-menu * 0.75;
				
		a {
			padding-left : @padding-menu / 4;
		}
	}
	
	li {
		display : inline-block;
		font-weight : bold;
		text-transform : uppercase;
		
		a {
			padding-top : 1.5 * @padding-menu;
			padding-bottom : 1.7 * @padding-menu;
			padding-left : @padding-menu;
			padding-right : @padding-menu;
			color : white;
		
			&:hover {
				background-color : rgba(0,0,0,.2);
			}
		}
	}
}
		
}

@media (max-width: 1571px) {
	@base-font : 20px;
	@padding-menu : 15px;
	@padding-phones : 40px;
	.navbar-brand {
	background : url(../../images/logos/logo-original.png) no-repeat;
	background-size : 60%;
	background-position : 110px 50%;
}
.navbar-default {
	background-color : @basic-color;
	opacity : 0.85;
	border-radius : 0;
	border : none;
	position : relative;
}

.phones-main {
		float : left;
		font-size : @base-font;
		font-weight : bold;
		text-transform : uppercase;
		color : #fff;
		padding-top : @padding-menu;
		padding-left : @padding-phones;
		
}

.menu.nav{
	font-family : @page-font;
	font-size : @base-font;
	margin-left :  @padding-menu;
	float : left;
	
	&:nth-child(1) {
		margin-left : @padding-menu * 0.3;
				
		a {
			padding-left : @padding-menu / 4;
		}
	}
	
	li {
		display : inline-block;
		font-weight : bold;
		text-transform : uppercase;
		
		a {
			padding-top : 2 * @padding-menu;
			padding-bottom : 2.6 * @padding-menu;
			padding-left : @padding-menu;
			padding-right : @padding-menu;
			color : white;
		
			&:hover {
				background-color : rgba(0,0,0,.2);
			}
		}
	}
}
}
@media (max-width: 1258px) {
	@base-font : 18px;
	@padding-menu : 10px;
	@padding-phones : 40px;
	
	
	.navbar-brand {
		height : 70px;
		background : url(../../images/logos/logo_sm.png) no-repeat;
		background-size : 60%;
		background-position : 110px 50%;
	}
	.navbar-default {
		background-color : @basic-color;
		opacity : 0.85;
		border-radius : 0;
		border : none;
		position : relative;
	}

	.phones-main {
			float : left;
			font-size : @base-font;
			font-weight : bold;
			text-transform : uppercase;
			color : #fff;
			padding-top : @padding-menu;
			padding-left : @padding-phones;
			
	}

	.menu.nav{
		font-family : @page-font;
		font-size : @base-font;
		margin-left :  @padding-menu * 5;
		float : left;
		
		&:nth-child(1) {
			margin-left : @padding-menu * 0.3;
					
			a {
				padding-left : @padding-menu / 4;
			}
		}
		
		li {
			display : inline-block;
			font-weight : bold;
			text-transform : uppercase;
			
			a {
				padding-top : 2 * @padding-menu;
				padding-bottom : 3 * @padding-menu;
				padding-left : @padding-menu;
				padding-right : @padding-menu;
				color : white;
			
				&:hover {
					background-color : rgba(0,0,0,.2);
				}
			}
		}
	}
}

@media (max-width: 975px) {
	@base-font : 16px;
	@padding-menu : 10px;
	@padding-phones : 40px;
	
	.navbar-default {
		background-color : @basic-color;
		opacity : 0.85;
		border-radius : 0;
		border : none;
		position : relative;
	}
	
	.navbar-brand {
		height : 70px;
		background : url(../../images/logos/logo_sm.png) no-repeat;
		background-size : 60%;
		background-position : 50px 50%;
	}
	
	.menu.nav{
		font-family : @page-font;
		font-size : @base-font;
		float : left;
		margin-left : 0;
		
		&:nth-child(1) {
			margin-left : @padding-menu * 0.3;
					
			a {
				padding-left : @padding-menu / 4;
			}
		}
		
		li {
			display : inline-block;
			font-weight : bold;
			text-transform : uppercase;
			
			a {
				padding-top : 3 * @padding-menu;
				padding-bottom : 3 * @padding-menu;
				padding-left : @padding-menu;
				padding-right : @padding-menu;
				color : white;
			
				&:hover {
					background-color : rgba(0,0,0,.2);
				}
			}
		}
	}
}
	


@media (max-width : 767px) {
	
	.navbar-brand {
			display : none;
	}
	
	.navbar-default .navbar-toggle{
		&:hover {
			background-color : rgba(0,0,0,.2);
		}
		&:focus {
			background-color : rgba(0,0,0,.2);
		}
	}
	.menu.nav {
		width : 100%;
		li {
			display : block;
			
			a {
				display : block;
				padding-top : 10px;
				padding-bottom : 10px;
				padding-left : 20px;
			}
		}
	}
}

// menu media ends!

/*.carousel-inner > .item {
	background-size : cover;
	height : 630px;
}*/

#myCarousel {
	z-index : -1;
	width : 100%;
	position : absolute;
	top : 0;
	left : 0;
}
.carousel-indicators, .carousel-control {
	display : none;
}


/// Triangle menu styles 

#triangle-menu {
	background-size : 100% 85%;
	background-position : 0 0;
	
	/*&:after {
		position : absolute;
		content : " ";
		width: 0;
		height: 0;
		border-left: 50% solid transparent;
		border-right: 50% solid transparent;
		border-top: 100% solid red;
	}*/
		li {
			display : block;
			background-color : transparent;
			
			a {
				margin-left : 0;
				text-transform : uppercase;
				font-family : @page-font;
				font-size : @base-font - 5;
				margin-left : 0;
				padding-left : @padding-menu * 1.8;
				padding-top : @padding-menu;
				padding-bottom : 0;
				padding-right : @padding-menu * 2;
				
				&:hover {
					background-color : transparent;
					text-decoration : underline;
				}
				
				/*&:nth-child(1) {
					margin-left : 0;
				}*/
			}
			
			span {
				display : block;
				color : white;
				text-transform : uppercase;
				font-family : @page-font;
				font-size : @base-font - 5;
				margin-left : 0;
				padding-left : @padding-menu * 1.8 ;
				padding-top : @padding-menu;
				padding-right : @padding-menu * 2;
				padding-bottom : 0;
				cursor : pointer;
				
				&:hover {
					background-color : transparent;
					text-decoration : underline;
				}
			}
			
			&:hover {
				background-color : transparent;
			}
			
			/*&:nth-child(1) {
				background : url(../../images/icons/icons_sprite.png) no-repeat;
				background-position : 25px 35px;
			}
			&:nth-child(2) {
				background : url(../../images/icons/icons_sprite.png) no-repeat;
				background-position : 25px -33px;
			}
			
			&:nth-child(3) {
				background : url(../../images/icons/icons_sprite.png) no-repeat;
				background-position : 25px -98px;
			}
			
			&:nth-child(4) {
				background : url(../../images/icons/icons_sprite.png) no-repeat;
				background-position : 25px -154px;
			}*/
		}
}

.triangle-wrapper {
	background : url(../../images/arrows/arrow_bg.png) no-repeat;
	background-size : 100% 85%;
	background-position : 0 0;
	padding-bottom : 340px;
	margin-top : -20px;
	//margin-left : px;
	
	.soc-buttons {
		margin-top : @padding-menu * 2.6;
		margin-left : @padding-menu * 0.8;
		a {
			display : inline-block;
			height : 68px;
			width : 70px;
		}
		
		.tr-vk {
			background-image : url(../../images/sprites/soc-media.png);
			background-position : -22px -3px;
			
			&:hover {
				background-position : -22px 70px;
			}
		}
		
		.tr-twitter {
			background-image : url(../../images/sprites/soc-media.png);
			background-position : -97px -3px;
			
			&:hover {
				background-position : -97px 210px;
			}
		}
		
		.tr-youtube {
			background-image : url(../../images/sprites/soc-media.png);
			background-position : -172px -3px;
			
			&:hover {
				background-position : -172px 350px;
			}
		}
		
		.tr-facebook {
			background-image : url(../../images/sprites/soc-media.png);
			background-position : -247px -3px;
			
			&:hover {
				background-position : -247px 490px;
			}
		}
		.tr-instagram {
			background-image : url(../../images/sprites/soc-media.png);
			background-position : -312px -3px;
			
			&:hover {
				background-position : -312px 630px;
			}
		}		
	}
}

// FOOTER BLOCK CSS 


.footer-bottom {
	background-color : #061125;
	
	a {
		display : inline-block;
		width : 210px;
		height : 60px;
		margin-left : 20px;
		margin-top : 5px;
		background-image : url(../../images/logos/copy-dan-idle.png);
		background-repeat : no-repeat;
		
		&:hover {
			background-image : url(../../images/logos/copy-dan-hover.png);
		}
	}
	
	p {
		float : right;
		padding-bottom : 20px;
		margin-right : 50px;
		margin-top : 25px;
		font-size : 14px;
		color : #7c8698;
	}
}
.footer-top {
	background-color : #081730;
	
}
.footer-contacts {
		h4 {
			//font-family : 'RobotoSlab';
			margin-left : 20px;
			margin-top : 35px;
			font-size : 16px;
			color : white;
			text-transform : uppercase;
			font-weight : bold;
		}
		
		.phones {
			ul {
				padding-left : 75px;
				background : url(../../images/icons/tel-footer.png) no-repeat;
				background-position : 13px 15px;
				
				li {
					list-style-type : none;
					
					a {
						font-size : 20px;
						font-weight : bold;
						color : white;
					}
				}
			}
		}
		
.adress, .emails {
		float : left;
		margin-left : 20px;
		ul {
			&:nth-child(1) {
				text-transform : uppercase;
				font-weight : bold;
				font-size : 14px;
				color : white;
			}
			
			li {
				list-style-type : none;
				
				span {
					text-transform : none;
					color : #a2aec1;
					font-size : 14px;
				}
				
				a {
					text-transform : none;
					font-size : 14px;
					font-weight : normal;
					color : white;
					
					&:focus {
						text-decoration : none;
					}
				}
			}
		}
	}	
}


.panel-group {
	margin-top : 25px;
	margin-left : 35px;
	margin-right : 35px;
}

.panel {
	border : none;
}

.panel-group .panel+.panel {
	margin-top : 25px;
}

.panel-heading {
		padding : 0;
}

.panel-default>.panel-heading {
	background-color : #212e45;
	
	.panel-title {
		
		a {
			padding: 10px 15px; 
			display : block;
			text-transform : uppercase;
			text-decoration : none;
			font-size : 14px;
			color : white;
			font-weight : bold;
			height : 100%
			width : 100%;
		}
	}
}